- content_for :title do
  Pizza Parties

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Created at
      %th Ended at
      %th Eaters
      %th Order
      %th Actions
  %tbody
    - @pizzaparties.each do |pizzaparty|
      %tr
        %td= pizzaparty.created_at.to_s :short
        %td= pizzaparty.ended_at.to_s :short
        %td= pizzaparty.eaters.count
        %td= pizzaparty.commandes.count
        %td
          .btn-group
            - if can? :read, pizzaparty
              = link_to pizzaparty, class: "btn" do
                %i.icon-eye-open
            - if can? :update, pizzaparty
              = link_to edit_pizzaparty_path(pizzaparty), class: "btn" do
                %i.icon-pencil
            - if can? :destroy, pizzaparty
              = link_to pizzaparty, :class => "btn btn-danger", :data => { confirm: 'Are you sure?' }, :method => :delete do
                %i.icon-trash.icon-white

= link_to_if can?(:create, Pizzaparty), "New Pizzaparty", new_pizzaparty_path, :class => "btn btn-primary"
