<% content_for :title do %>Toppings<% end %>
<table class="table table-striped">
 <thead>
  <tr>
    <th>ID</th>
        <th>
      <%= t("activerecord.attributes.topping.name", :default => t("activerecord.labels.name", :default => "Name")) %>
    </th>
        <th>Created at</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @toppings.each do |topping| -%>
   <tr>
    <td><%= topping.id %></td>
        <td><%= link_to topping.name, topping_path(topping) %>
    </td>
        <td><%= topping.created_at %></td>
    <td>
      <%= link_to "Show", topping_path(topping) %>
      <%= link_to "Edit", edit_topping_path(topping) %>
      <%= link_to "Destroy", topping_path(topping), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
    </td>
    </tr>
    <% end -%>
   </tbody>
</table>

<%= link_to "New", new_topping_path, :class => 'btn btn-primary' %>
