<% content_for :title do %>Ingredients<% end %>
<table class="table table-striped">
 <thead>
  <tr>
    <th>ID</th>
        <th>
      <%= t("activerecord.attributes.ingredient.name", :default => t("activerecord.labels.name", :default => "Name")) %>
    </th>
        <th>Created at</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @ingredients.each do |ingredient| -%>
   <tr>
    <td><%= ingredient.id %></td>
        <td><%= link_to ingredient.name, ingredient_path(ingredient) %>
    </td>
        <td><%= ingredient.created_at %></td>
    <td>
      <%= link_to "Show", ingredient_path(ingredient) %>
      <%= link_to "Edit", edit_ingredient_path(ingredient) %>
      <%= link_to "Destroy", ingredient_path(ingredient), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
    </td>
    </tr>
    <% end -%>
   </tbody>
</table>

<%= link_to "New", new_ingredient_path, :class => 'btn btn-primary' %>
