<%= form_for(@pizz) do |f| %>
  <% if @pizz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pizz.errors.count, "error") %> prohibited this pizz from being saved:</h2>

      <ul>
      <% @pizz.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    Ingredients<br/>
    <% for  ingr in Ingredient.all %>
        <label><%= check_box_tag "pizz[ingredient_ids][]", "#{ingr.id}", @pizz.ingredients.include?(ingr) ? true : false %><%= ingr.name %></label>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
