<% content_for :title do %>New Pizza<% end %>

<table class="table table-striped">
 <thead>
  <tr>
    <th>ID</th>
        <th>
      <%= t("activerecord.attributes.pizz.name", :default => t("activerecord.labels.name", :default => "Name")) %>
    </th>
        <th>Created at</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @pizzs.each do |pizz| -%>
   <tr>
    <td><%= pizz.id %></td>
        <td><%= link_to pizz.name, pizz_path(pizz) %>
    </td>
        <td><%= pizz.created_at %></td>
    <td>
      <%= link_to "Show", pizz_path(pizz) %>
      <%= link_to "Edit", edit_pizz_path(pizz) %>
      <%= link_to "Destroy", pizz_path(pizz), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
    </td>
    </tr>
    <% end -%>
   </tbody>
</table>

<%= link_to "New", new_pizz_path, :class => 'btn btn-primary' %>
