
<label class="label"><%= t("activerecord.attributes.pizz.name", :default => t("activerecord.labels.name", :default => "Name")) %>:</label>
<p><%= @pizz.name %></p>


<label class="label"><%= t("activerecord.attributes.pizz.ingredients_id", :default => t("activerecord.labels.ingredients_id", :default => "Ingredients")) %>:</label>
<p><% @pizz.ingredients.each do |ingr| -%><%= ingr.name %>, <% end -%></p>

<div class="form-actions">
<%= link_to "Back", pizzs_path, :class => 'btn'  %>
<%= link_to "Edit", edit_pizz_path(@pizz), :class => 'btn' %>
<%= link_to "Delete", pizz_path(@pizz), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn' %>
</div>
