<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @pizz.name %>
</p>

<p>
  <b>Price:</b>
  <%= @pizz.price %>
</p>

<p>
  <b>Ingredients:</b>

  <% 
# map pour la liste déroulante à décommenter pour voir
# ingredients_array = @pizz.ingredients.map { |ingredient| [ingredient.name, ingredient] } 
%>
<%= 
# la liste déroulante à décommenter pour voir
#select_tag(:ingredients,options_for_select(ingredients_array)) 
%>


<ul class="checkbox-list">
    <% for  ingr in Ingredient.all %>
        <% 
if @pizz.ingredients.include?(ingr)
%><li> <%=
check_box_tag "pizz[ingredient_ids][]", "#{ingr.id}",true ,  :disabled => true
ingr.name %>
</li>
<% end %>
 
  <% end -%>
</ul>


 <% 
#= @pizz.ingredients.map(&:name).join(', ') 
%>
</p>


<%= link_to 'Edit', edit_pizz_path(@pizz) %> |
<%= link_to 'Back', pizzs_path %>
