
<label class="label"><%= t("activerecord.attributes.pizz.name", :default => t("activerecord.labels.name", :default => "Name")) %>:</label>
<p><%= @pizz.name %></p>

<div class="label">Prices</div>
<p>
<% @pizz.prices.each do |price| -%>
  <%= price.size.label %>, <%= price.amount %> euro <br>
<% end -%>
</p>


<div class="label"><%= t("activerecord.attributes.pizz.toppings_id", :default => t("activerecord.labels.toppings_id", :default => "Toppings")) %>:</div>
<p><%= @pizz.toppings.collect{|topping| topping.name }.join(', ') %></p>

<div class="form-actions">
<%= link_to "Back", pizzs_path, :class => 'btn'  %>
<%= link_to "Edit", edit_pizz_path(@pizz), :class => 'btn' %>
<%= link_to "Delete", pizz_path(@pizz), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn' %>
</div>
